.main__container {
  position: relative;

  width: 300px;
  min-height: 500px;
  margin: 6rem auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.nav__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav__list li {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--main-color);
  transition: 0.4s;
}
.nav__list li:nth-child(1) {
  border-radius: 25px 0 0 0;
}
.nav__list li:nth-child(2) {
  border-radius: 0 25px 0 0;
}

.unactive {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
  transition: 0.4s;
}

.add__button {
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, +50%);
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
}
.add__button:hover {
  background-color: rgb(131, 93, 175);
}
