@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
:root {
  --main-color: rgb(175, 126, 234);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(227, 234, 255);
}
ul,
li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
